#rm-btn {
  margin-top: 25px;
  background-color: #e1dffe;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #6e53cb;
  line-height: 25.6px;
  padding: 5px 15px;
  align-self: flex-start;
}

#rm-btn:hover {
  background-color: var(--color-purple);
  color: white;
  transition: 0.1s ease-in;
}

.swipe-cont {
  /* width: 600px; */
  /* width: "100vw"; */
  /* height: 300px; */
}

.swiper-pagination-bullet {
  margin-top: 30px;
}
