@media screen and (max-width: 700px) {
}

@media screen and (max-width: 550px) {
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 26% 52%,
    rgba(242, 162, 48, 0.4) 0%,
    rgba(221, 221, 221, 0.4) 35%,
    rgba(244, 67, 54, 0.3) 60%,
    rgba(110, 83, 203, 0.4) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 26% 52%,
    rgba(242, 162, 48, 0.4) 0%,
    rgba(221, 221, 221, 0.4) 35%,
    rgba(244, 67, 54, 0.3) 60%,
    rgba(110, 83, 203, 0.4) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 26% 52%,
    rgba(242, 162, 48, 0.4) 0%,
    rgba(221, 221, 221, 0.4) 35%,
    rgba(244, 67, 54, 0.3) 60%,
    rgba(110, 83, 203, 0.4) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 26% 52%,
    rgba(242, 162, 48, 0.4) 0%,
    rgba(221, 221, 221, 0.4) 35%,
    rgba(244, 67, 54, 0.3) 60%,
    rgba(110, 83, 203, 0.4) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 26% 52%,
    rgba(242, 162, 48, 0.4) 0%,
    rgba(221, 221, 221, 0.4) 35%,
    rgba(244, 67, 54, 0.3) 60%,
    rgba(110, 83, 203, 0.4) 100%
  );
}
