@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Inter", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  /* --color-bg: #040c18; */
  --color-bg: #fff;
  --color-purple: #6e53cb;
  --color-heading: #1d252d;
  --color-subheading: #00265f;
  --color-text: #1e2228;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-subtext: #ff8a71;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

.container {
  width: 100vw;
  height: 100vh;
}

a {
  color: unset;
  text-decoration: none;
}
