.slider-container {
  /* background-color: greenyellow; */
  padding: 30px 0;
}

.influencer-container {
  overflow: hidden;
  height: 397px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  /* border: 2px solid black; */
  /* background-color: aquamarine; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.influencer-container div:nth-child(1) {
  display: flex;
  justify-content: center;
  background-color: #f4f2fb;
  /* flex: 70%; */
}

.influencer-container div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 30%; */
}

.influencer-container div:nth-child(2) h3 {
  margin-top: 26px;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-heading);
  line-height: 19px;
}

.influencer-container div:nth-child(2) span {
  margin-top: 10px;
  color: #7b8289;
  font-size: 14px;
  line-height: 16.94px;
}
.slider {
  /* background-color: red; */
}
